*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    transition: all .2s linear;
}
body{
    background-color:#383838;
}

/* start navbar */
.navbar-brand {
    color:#fff;
    font-size:30px;
    font-family: 'Mate SC', serif;
    font-family: 'Vollkorn SC', serif;
}
.highlight{
    color:#c595e7;
}
.navbar{
    background: #111;
}
.navbar .nav-link{
    color: white;
    font-size:20px;
}

.navbar .nav-link:hover,.navbar .nav-link:active{
    color:#c595e7;
}
.navbar .icons a{
    font-size: 30px;
    color:#fff;
    margin: 0px 5px;
}

.navbar .icons a:hover{
    color:#c595e7;
}

/* end navbar */


@media (min-width: 992px) {
.navbar{
    min-height: 100vh;
    width: 220px;
}
.navbar-brand{
    margin-bottom: 35px;
    text-align:center;
}
}


