*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    transition: all .2s linear;
}
body{
    background-color:#383838;
}
section{
    padding: 120px 0px;

}

/* start navbar */
.navbar-brand {
    color:#fff;
    font-size:30px;
    font-family: 'Mate SC', serif;
    font-family: 'Vollkorn SC', serif;
}
.highlight{
    color:#c595e7;
}
.navbar{
    background: #111;
}
.navbar .nav-link{
    color: white;
    font-size:20px;
}

.navbar .nav-link:hover,.navbar .nav-link:active{
    color:#c595e7;
}
.navbar .icons a,footer .icons a{
    font-size: 30px;
    color:#fff;
    margin: 0px 5px;
}

.navbar .icons a:hover,footer .icons a:hover{
    color:#c595e7;
}

/* end navbar */

/* start home section */

.home .home-text .hello{
    font-size: 25px;
    color:#c595e7;
}

.home-text h1{
    font-size:50px;
    color: #fff;
}

 .home .home-text h1 span{
    color:#c595e7;
    text-transform: uppercase;
    transition: .9s linear;
}

 .home .home-text .me{
    color:#fff;
    font-size: 28px;
    padding:.5rem ;
}
.home .home-text .me span{
    border-bottom: 2px solid #c595e7;
}

#bg-animation {
    position: relative;
    right: 100px;
    bottom: 300px;
  }
  #bg,#img {
    position: absolute;
    left: 50px;
  }



.btn{
    color:#fff;
    border: 2px solid #c595e7;
    padding: 5px 25px;
}
 .btn:hover{
    color:#c595e7;
    border-color: #fff;
}

 /* end home section */



 /* start about section */
 .about h2{
    color: #fff;
 }
 .about h2 span{
    color: #c595e7;
 }

 .about .p,.about h6 span{
    color: #e3e3e3;
 }
 .about h3{
    color: #c595e7;
 }
 .about h6{
    color: #c595e7;
 }
 .about img{
    border:8px solid #fff;

}
/* end about section */




/* start skill section */

.skill .box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.08);
  }

  .skill .box .skill-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

   .skill .box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #fff;
  }

  .skill .box p {
    font-size: 18px;
    padding: 5px;
    color: #d0d0d0;
  }

/* end skill section */


/* start contact section*/

#contact .form-control {
    background-color:rgb(17, 17, 17,0.8);
    border-color: #515151;
    color: #c595e7;
    border-radius: 8px;
}

#contact .form-control:focus {
    border-color: #c595e7;
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: #d0d0d0;
}

#contact input.form-control {
    height: 50px;
}

/* end contact section */


/* footer */
footer{
    background: rgba(255, 255, 255, 0.08);
}

footer p span{
    color: #c595e7;
    text-decoration: none;
}


@media (min-width: 992px) {
    section{
        padding-left:270px;
       border-bottom: 1px solid rgb(197, 149, 231,0.3);
       border-top: 1px solid rgb(197, 149, 231,0.3);
   }

/* navbar */
.navbar{
    min-height: 100vh;
    width: 220px;
}
.navbar-brand{
    margin-bottom: 35px;
    text-align:center;
}

/*home*/
.home-container{
    padding-left:248px;
}

}

@media (max-width: 325px){
    .skill,#contact{
        padding-left:50px;
      }
}


